appdirs==1.4.4
attrs==21.2.0
black==21.7b0
click==8.0.1
coverage==5.5
fancycompleter==0.9.1
flake8==3.9.2
flake8-debugger==4.0.0
flake8-isort==4.0.0
flake8-print==4.0.0
flake8-quotes==3.2.0
iniconfig==1.1.1
isort==5.9.2
jedi==0.17.2
Markdown==3.4.1
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
packaging==21.0
parso==0.7.1
pathspec==0.9.0
pdbpp==0.10.3
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pyparsing==2.4.7
pyrepl==0.9.0
pytest==6.2.4
pytest-cov==2.12.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
PyYAML==5.4.1
regex==2021.7.6
six==1.16.0
testfixtures==6.18.0
toml==0.10.2
tomli==1.0.4
types-Markdown==3.3.0
types-PyYAML==5.4.3
typing-extensions==3.10.0.0
ujson==4.0.2
wmctrl==0.4
