name: publish

on:
  release:
    types: [created]

env:
  POETRY_VIRTUALENVS_IN_PROJECT: "true"
  POETRY_VERSION: "1.3.1"
  MAIN_PYTHON_VERSION: "3.11"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Install Poetry
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: make install-no-dev

      - name: Build and publish
        run: |
          export TAG_NAME=`echo ${{ github.ref }} | cut -d / -f 3`
          sed -i "s|^\(version = \"\).*\(\"  # VERSION_ANCHOR\)$|\1$TAG_NAME\2|" pyproject.toml
          poetry publish --build -u __token__ -p ${{ secrets.PYPI_PASSWORD }}
